
@{
    Layout = null;
}
@model Aizenk_temperament_test.Models.TestDbContext

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Тест для определения темперамента Г.Ю. Айзенка</h3>
        <br />
        Ответьте «да» или «нет» на вопросы, касающиеся особенностей Вашего поведения. Над ответами долго не за-
        думывайтесь
    </div>
    
    @Html.ActionLink("Start test", "test")


</body>
</html>
