
@{
    Layout = null;
}
@model Aizenk_temperament_test.ViewModels.ResultViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <div> 
        <p>Социальная активность: @Model.BMark</p>
        <p>Психическая нестабильность : @Model.Cmark</p>
        <p>@Model.Temperament</p>
    </div>

    <img src="~/Media/gr.JPG"/>
</body>
</html>
